{% extends 'base.html' %}
{% load static %}
{% block title %}Astro:: Trips{% endblock title %}


{% block content %}
<div class="header-base">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="title-base text-left">
                    <h1>Trips</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section-bg-color">
    <div class="container content">
        <div class="maso-list">
            <div class="maso-box row">
                {% for trip in  trips %}
                <div data-sort="1" class="maso-item col-md-4">
                    <div class="img-box adv-img adv-img-down-text boxed-inverse">
                        <a class="img-box i-center lightbox" title="{{ trip.name }}" {% if trip.image %}
                            href="{{ trip.image.url }}" {% endif %}>
                            <div class="caption">
                                <i class="fa fa-camera-retro"></i>
                            </div>
                            {% if trip.image %}
                            <img alt="{{ trip.image }}" src="{{ trip.image.url }}">
                            {% endif %}
                        </a>
                        <div class="caption-bottom">
                            <h2><a href="{{ trip.name.url }}">{{ trip.name }}</a></h2>
                            {% comment %} <p>{{ trip.description|make_list|first }} {{ trip.description|safe }}</p> {% endcomment %}
                            {{ trip.description|safe }}
                        </div>
                    </div>
                </div>
                {% endfor %}
                <div class="clear"></div>
            </div>
            
            {% if trips.has_other_pages %}
                <div class="btn-group" role="group" aria-label="Item pagination">
                {% if trips.has_previous %}
                    <a href="?page={{ trips.previous_page_number }}" class="btn btn-outline-primary">&laquo;</a>
                {% endif %}

                {% for page_number in trips.paginator.page_range %}
                    {% if trips.number == page_number %}
                        <button class="btn btn-outline-primary active">
                            <span>{{ page_number }} <span class="sr-only">(current)</span></span>
                        </button>
                    {% else %}
                        <a href="?page={{ page_number }}" class="btn btn-outline-primary">
                            {{ page_number }}
                        </a>
                    {% endif %}
                {% endfor %}

                {% if trips.has_next %}
                    <a href="?page={{ trips.next_page_number }}" class="btn btn-outline-primary">&raquo;</a>
                {% endif %}
            </div>
            {% endif %}
        </div>
    </div>
</div>


{% endblock  %}